<div class="container-fluid">
  <app-disc-case-row class="d-flex flex-row justify-content-center bg-success" [matrixTopInfo]="matrixTopData"></app-disc-case-row>
  <app-playground-matrix class="d-flex flex-row justify-content-center bg-info"
    [matrixInfo]="matrixData"
    (matrixHovered)="playgroundMatrixHover($event)"
    (columnClicked)="playgroundMatrixClicked($event)"
  ></app-playground-matrix>
  <app-toolbar class="d-flex flex-row justify-content-center bg-success mt-2 p-1"
    (playAgainClicked)="playAgain(event)"
  ></app-toolbar>
</div>