<form novalidate [formGroup]="form" >
  <button type="button" class="btn btn-danger mr-1" (click)="playConnectFour()">Play</button>
  <button type="button" class="btn btn-primary mr-3" [hidden]="!form.controls.online.value" [routerLink]="['/friends']">Friends</button>
  
  <div class="input-group mt-1">
  <span class="input-group-addon" title="Check to make you available online.">
    <input type="checkbox" formControlName="online">
  </span>
  <input type="text" class="form-control" formControlName="your_name">
  </div>
  <!-- <pre>{{ form.value |  json }}</pre> -->
</form>
